.header{
	height: 10vh !important;
	width:100vw !important;
	background-color: blue;
	nav{
		height: 100%;
	}
.new{
	display: flex !important;
	.new1{
	display: flex !important;
	justify-content: flex-end !important;
	width:90%;
}
}
}